<div ng-controller="VideoCtrl">
  <div id="video-list-container">
  <ul>
    <li ng-repeat="video in videos">
      <h1>{{video.title}}</h1>
    </li>
  </ul>
  </div>

  <div id="video-vide-container">
  </div>
</div>
