<div ng-controller="VideoCtrl">
  <div id="header">
    <p>Cuptastic</p>
    <section>
      <%=form_for :q, url: videos_path, method: :get do |f|%>
      <%=f.select :team, collection: ['Brazil', 'Spain', 'Argentina']%>
      <%=f.submit 'Search'%>
      <!-- <button ng-click="updateVid" value="Update"> -->
      <%end%>
    </section>
  </div>

  <div id="video-list-container">
  <ul>
    <input ng-model="query" placeholder="Search videos">
    <li ng-repeat="video in videos |filter:query" ng-click="showVideo(video, $index)">
      <h1 ng-class="{active: $index == selectedRow}">{{video.title}}</h1>
    </li>
  </ul>
  </div>

  <div id="video-view-container" ng-show="selectedVideo">
    <h2>{{selectedVideo.title}}</h2>
    <iframe ng-src="{{selectedVideoURL}}"></iframe>
    <p>{{selectedVideo.summary}}</p>
  </div>
</div>
