<div ng-controller="VideoCtrl">
  <div id="header">
    <p>Cuptastic</p>
    <section>
   <!--    <%=form_for :q, url: videos_path, method: :get do |f|%>
      <%=f.select :team, collection: ['Brazil', 'Argentina', 'Spain', 'Chile']%>
      <ng-click="updateVid()" value="New Team"><%=f.submit 'Select Team'%>
      <%end%> -->

      <!-- <select ng-model="teams" ng-options="team.name group by team.group for team in teams" value="worldcup"></select> -->
      <world-cup-teams update="newVideo(team)"></world-cup-teams>
    </section>



  </div>

  <div id="video-list-container">
  <ul>
    <input ng-model="query.title" placeholder="Search videos">
    <li ng-repeat="video in videos |filter:query" ng-click="showVideo(video, $index)">
      <h1 ng-class="{active: $index == selectedRow}">{{video.title}}</h1>
    </li>
  </ul>
  </div>

  <div id="video-view-container" ng-show="selectedVideo">
    <h2>{{selectedVideo.title}}</h2>
    <iframe ng-src="{{selectedVideoURL}}"></iframe>
    <p>{{selectedVideo.summary}}</p>
  </div>
</div>
