// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  background-color: #ddd;
  margin: 0px;
}

#header{
  height: 60px;
  line-height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 10px;
  color: #00AB05;
  background-color: #FDED4B;
  p{
    vertical-align: middle;
    float: left;
    font-weight: bold;
    font-size: 25px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
  }
  section{
    float: right;
    vertical-align: middle;
    padding-right: 20px;
  }
}


#video-list-container{
  background-color: #fff;
  position: absolute;
  width: 30%;
  min-height: 700px;
  overflow: auto;
  left: 0;
  bottom: 0;
  top: 60px;
  -webkit-overflow-scrolling: touch;
  ul{
    list-style: none;
    margin: 5px;
    padding: 4px;
    li{
      cursor: pointer;
      border-bottom: 1px solid #ddd;
      padding: 10px;
    }
    input{
      width: 95%;
      padding-left: 10px;
      height: 25px;
    }
  }
  h1{
    font-size: 15px;
    font-weight: bold;
  }
  .active{
    color: red;
  }
}

#video-view-container{
  width: 70%;
  left: 30%;
  position: absolute;
  border-left: 1px solid #d0d0d0;
  top: 60px;
  margin: auto;
  h2{
    margin: auto;
    width: 50%;
    padding: 20px;
    display: block;
  }
  p{
    margin: 10px;
    padding: 10px;
  }
  a{
    margin: 10px;
    padding: 10px;
  }
  iframe{
    height: 500px;
    width: 80%;
    margin: auto;
    display: block;
  }
}

